body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#app {
	height: 100%;
}

.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(./images/photo-1530046339160-ce3e530c7d2f.jpeg);
	color: rgb(233, 227, 227);
	font-weight: 600;
	text-align: center;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron h1 {
	font-size: 5em;
}

.card-img-top {
	cursor: pointer;
}

.card-group {
	display: flex;
	flex-wrap: wrap;
}

.card {
	flex: 1 0 48%;
	margin: 1%;
}
@media (min-width: 576px) {
	.card-deck .card {
		display: -ms-flexbox;
		display: flex;
		-ms-flex: 1 0 0%;
		flex: 1 1 30%;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px;
	}
}

@media (min-width: 576px) {
	.card-deck .card {
		display: flex;
		flex: 0 1 30%;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px;
	}
}

span {
	font-weight: bold;
}

.vehicle-show h2 {
	font-size: 2.5em;
	margin-bottom: 40px;
}

.card-title {
	font-size: 2em;
}

.vehicle-show {
	text-align: center;
}

.btn-danger {
	margin-top: 15px;
}

.btn-toolbar {
	justify-content: center;
}

.card-body {
	text-align: center;
}

.form-component {
	padding: 20px;
	background-color: rgb(167, 163, 163);
	opacity: 95%;
	color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.form-component > h4 {
	margin: 15px 0 30px;
}

.form-container {
	background-image: url('../src/images/neonbrand-ZSz1m4JPDqU-unsplash.jpg');

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
	margin: auto;
	width: 60%;
}

button {
	margin: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
	display: block;
	margin: auto;
	width: 90%;
	border: 1px solid #818181;
	padding: 5px;
}
