body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root,
#app {
	height: 100%;
}

.vehicle-card {
	border: 1px solid black;
	margin: 5px;
	cursor: pointer;
}

.maintenance-card {
	border: 1px solid black;
	margin: 5px;
}

.form-component {
	background-color: white;
	opacity: 95%;
	color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.form-component > h4 {
	margin: 15px 0 30px;
}

.form-container {
	background-image: url('../src/images/neonbrand-ZSz1m4JPDqU-unsplash.jpg');

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
	margin: auto;
	width: 60%;
}

button {
	margin: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	display: block;
	margin: auto;
	width: 90%;
	border: 1px solid #818181;
	padding: 5px;
}
